<div class="row">
    <div class="col">
        <label>First name</label>
        <input type="text" placeholder="Input first name" [(ngModel)]="customer.firstName" />
    </div>
    <div class="col">
        <label>Email</label>
        <input type="text" placeholder="Input email" [(ngModel)]="customer.email" />
    </div>
</div>
<div class="row">
    <div class="col">
        <label>Last name</label>
        <input type="text" placeholder="Input last name" [(ngModel)]="customer.lastName" />
    </div>
    <div class="col">
        <label>Phone</label>
        <input type="text" placeholder="Input phone" [(ngModel)]="customer.phone" />
    </div>
</div>

<button (click)="updateCustomer()">Update</button>
