<form [formGroup]="customerValidationForm" id="create-customer-container">
  <div class="row">
    <div class="col"></div>
    <div class="col-200px">

      <label>(*) First name</label>
      <input type="text" placeholder="Input first name" formControlName="firstName" class="custom-input">
      <div *ngIf="validate(firstName, 'required')" class="required-container">
        <label class="required">First Name is required</label>
      </div>

    </div>

    <div class="col-1"></div>
    <div class="col-200px">

      <label>(*) Email</label>
      <input type="text" placeholder="Input email" formControlName="email" class="custom-input">
      <div *ngIf="validate(email, 'required')" class="required-container">
        <label class="required">Email is required</label>
      </div>
      <div *ngIf="validate(email, 'email', true)" class="required-container">
        <label class="required">Email is incorrect</label>
      </div>

    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-200px">

      <label>Last name</label>
      <input type="text" placeholder="Input last name" formControlName="lastName" class="custom-input">
      <div *ngIf="validate(lastName, 'required')" class="required-container">
        <label class="required">Last Name is required</label>
      </div>

    </div>
    <div class="col-1"></div>
    <div class="col-200px">

        <label>Phone</label>
        <input type="text" placeholder="Input phone" formControlName="phone" class="custom-input">

    </div>
    <div class="col"></div>
  </div>

  <div id="small-row" class="row">
    <div class="col">
      <div *ngIf="passwordTipIsEnabled" class="required-container required-container-password">
        <label class="required required-password">
          Your password should contain:<br>
          - More than 10 characters<br>
          - At least one lower case character<br>
          - At least one upper case character<br>
          - At least one symbol
        </label>
      </div>
    </div>
    <div class="col-200px" formGroupName="passwordGroup">

      <label>Password</label>

      <input type="password" formControlName="password"
              placeholder="Input password" autocomplete="off" class="custom-input">
      <div *ngIf="validate(password, 'required')" class="required-container">
        <label class="required">Password is required</label>
      </div>

    </div>
    <div class="col-1"></div>
    <div class="col-200px" formGroupName="passwordGroup">

      <label>Repeat Password</label>
      <input type="text" formControlName="repeatPassword"
        placeholder="Repeat password" autocomplete="off" class="custom-input">
      <div *ngIf="passwordNotMatchingEnabled()" class="required-container">
        <label class="required">Passwords not matching</label>
      </div>

    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-200px">

      <app-password-strength
        [password]="password.value"
        (passwordStrength)="passwordValid($event)">
      </app-password-strength>
      <label class="tip-trigger" (mouseover)="passwordTipEnabled($event)"
                                  (mouseout)="passwordTipEnabled(!$event)">
        How can I build an stronger password?
      </label>

    </div>
    <div class="col-1"></div>
    <div class="col-200px">

      <button (click)="createCustomer()">Create</button>

    </div>
    <div class="col"></div>
  </div>
</form>
