#create-customer-container{

  height: 100% !important;
  padding-top: 8%;
  padding-bottom: 0%;
}

.col-200px{

  width: 200px;
}

.row{

  height: 25%;
}

#small-row{
  height: 24%;
}

.required{

  background-color: rgb(220, 125, 38);
  border: 1px solid rgb(220, 155, 94);
  margin-bottom: 0rem;
  margin-top: 0.5rem;
  width: 180px;
  padding: 0.1rem 0.5rem;
  text-align: -webkit-right;
  font-size: 14px;
  border-radius: 0.25rem;
}

.required-password{

  font-size: 11px;
  text-align: -webkit-left;
  color: rgb(239, 245, 245);
}

.required-container{

  text-align: -webkit-right;
}

.required-container-password{

  padding-right: 0.5rem;
}

.required-password .required-container{

  border-color: black;
}

.tip-trigger{

  margin-top: 1rem;
  font-size: 11px;
  color: rgb(42, 220, 239);
  text-decoration: underline overline;
}

form{

  height: 50%;
}

button{

  width: 200px;
  border: 2px groove #626569;
  background-color: #343a40;
  color: rgb(239, 245, 245);
}

label{

  color: rgb(239, 245, 245);
}
