<div class="modal-container">
  <div class="modal-header">
    <label class="modal-title"> {{ title }} </label>
    <button type="button" class="btn modal-button" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">X</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li><b>Name:</b> {{ body.firstName }}</li>
      <li><b>Last Name:</b> {{ body.lastName }}</li>
      <li><b>Email:</b> {{ body.email }}</li>
      <li><b>Phone:</b> {{ body.phone }}</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn modal-button" (click)="activeModal.close('Ok')">Ok</button>
    <div id="cancelButtonContainer" *ngIf="cancelButton">
      <button type="button" class="btn modal-button" (click)="activeModal.dismiss('Cancel')">Cancel</button>
    </div>
  </div>
</div>
